body {
  background: #fbddd0;
  margin: 0;
  font-family: Oswald;
  overflow-x: hidden;
}
.parallax-container {
  position: fixed;
  overflow: visible;
  width: 100vw;
  height: 850px;
}
.parallax-layer {
  width: 100vw;
  height: 500px;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 960px 253px;
}
  .title {
    top: 120px;
    z-index: 500;
    color: #3b1b3d;
    font-family: Righteous;
    font-size: 60px;
    text-align: center;
  }
  .layer-1 {
    top: 0px;
    z-index: 5;
    background-image: url('assets/5.png');
    background-size: contain;
  }
  .layer-2 {
    top: 5px;
    z-index: 10;
    background-image: url('assets/4.png');
    background-size: contain;
  }
  .layer-3 {
    top: 15px;
    z-index: 15;
    background-image: url('assets/3.png');
    background-size: contain;
  }
  .layer-4 {
    top: 90px;
    z-index: 20;
    background-image: url('assets/2.png');
    background-size: cover;
  }
  .layer-5 {
    top: 140px;
    z-index: 25;
    background-image: url('assets/1.png');
    background-size: cover;
  }

.topbar {
  z-index: 500;
}

.content {
  position: absolute;
  top: 600px;
  background: #fbddd0;
  width:100vw;
  min-height: 1000px;
}
  .content h1 {
    color: #3b1b3d;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
  }
  .large {
    font-size: 3em !important;
    margin-bottom: -5px;
  }
  .content h2 {
    color: #3b1b3d;
    font-size: 1.3em;
    text-align: center;
  }

.navbar {
  position: fixed;
  top: 0px;
  width: 100vw;
  display: none;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3b1b3d;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to black on hover */
.navbar li a:hover {
    background-color: #111;
}


/*About me section contents*/
#introtext {
  padding: 5px;
  width: 960px;
  margin: 20px auto;
  font-family: Montserrat;
  line-height: 1.4;
  color: #3b1b3d;
  font-size: 1.05em;
}

.col1 {
  width: 290px;
  float: left;
  padding: 5px 15px;
}

.col2 {
  width: 294px;
  float: left;
  padding: 5px 15px;
  margin: 0px 5px 5px 5px;
}

.col3 {
  width: 270px;
  padding: 5px 15px;
  float: left;
}

.showcase{
  margin-bottom: 100px;
}

.work1 {
  width: 50%;
  float: left;
  text-align: center;
  margin-top: 130px;
}

.work2 {
  width: 50%;
  float: left;
  text-align: center;
}

.video {
  width: 65%;
  float: left;
  text-align: center;
  margin-top: 80px;
  margin-left: 15px;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/

/* for 980px or less */
@media screen and (max-width: 980px) {
  
  #introtext {
    width: 94%;
  }
  .col1 {
    width: 41%;
    padding: 1% 4%;
  }
  .col2 {
    width: 41%;
    padding: 1% 4%;
    margin: 0px 0px 5px 5px;
    float: right;
  }
  
  .col3 {
    clear: both;
    padding: 1% 4%;
    width: auto;
    float: none;
  }
  .work1 {
    width: 100%;
    float: none;
  }
  .work2 {
    width: 100%;
    float: none;
  }
  .video {
    clear: both;
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-top: 10px;
  }

  
}

/* for 600px or less */
@media screen and (max-width: 600px) {

  .col1 {
    width: auto;
    float: none;
  }
  
  .col2 {
    width: auto;
    float: none;
    margin-left: 0px;
  }
  
  .col3 {
    width: auto;
    float: none;
  }
  .footer-text {
    width: 100vw;
    padding: 20px;
    margin: 0;
  }
}

/* for 480px or less */
@media screen and (max-width: 480px) {
  .col3 {
    float: none;
  }
}

.worktitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13vw;
    font-weight: 700;
    letter-spacing: -10px;
    text-indent: -10px;
}

.underline {
  background-image: linear-gradient(120deg, #532056 0%, #d95377 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}

.link a {
  background-image: linear-gradient(120deg, #532056 0%, #d95377 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: inherit;
  text-decoration: none;
}
.link a:hover {
  background-size: 100% 1em;
}

#work {
  margin-top: 200px;
}

footer { 
    display: block;
    min-height: 200px;
}

.page-footer {
  background-color: #3b1b3d;
  color: #FFFFFF;
  padding: 20px 40px 20px 40px;
}

.center {
  text-align: center;
}

.footer-text {
  padding: 5px;
  width: 30vw;
  margin: 20px;
  font-family: Montserrat;
  line-height: 1.4;
  color: #FFFFFF;
  font-size: 1.05em;
}
.footer-title {
  font-family: Oswald;
  font-size: 1.3em;
}

.github {
  background-color: #3b1b3d;
  height: 45px;
  padding: 5px;
  color: #FFF;
  width: 70%;
  font-family: Montserrat;
  font-size: 1em;
  border: 0;
}

.back {
  text-align: right;
  padding: 30px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  float: center;
}